# Dependencies
**/node_modules/
**/vendor/

# Environment files
.env
.env.*
**/.env
**/.env.*
!.env.example
!**/.env.example

# Build folders
**/.next/
**/dist/
**/build/

# Laravel storage / logs
**/storage/
**/logs/
**/*.log

# IDE
.idea/
.vscode/

# Docker / local data
**/db-data/
**/data/

# OS files
.DS_Store
Thumbs.db
